.navbar {
    background: #203040;
    border-radius: 0;
    color: white;
    border: 0;
    .nav>li>a {
        font-weight: 400;
        text-transform: uppercase;
        color: #ccd1d3;
        font-size: 13px;
        &:hover {
            color: #78c9cf;
            background: rgba(0,0,0,.15);
        }
    }
}
a:focus,a:hover {
    color: #68b9bf;
    text-decoration: none
}
.page-header {
    margin: 0px;
}
pre {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    word-break: break-all;
    word-wrap: break-word;
    color: #334851;
    background-color: #f5f5f5;
    border: 1px solid #ccd1d3;
    border-radius: 1px;
    font-size: 11px;
    margin: 10px 0;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    color: #78c9cf;
}
.copy-pre .copy-button-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px
}

.copy-pre button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #fff;
    background: #0075a8;
    border-color: #0075a8;
    width: 50px
}

.copy-pre button:hover {
    background: #002e42;
    color: #fff
}