@import "loading";
$dark: #203040;

body, html {
  height: 100%;
  color: #515253;
}

.ember-view {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #ecf0f5 !important;
}

.main-sidebar {
  border-right: 1px solid #d2d6de;
}

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 60px;
  margin-top: -60px;
  border-top: 1px solid #d4dadc;
  padding: 20px;
}

.content-wrapper {
  height: auto;
  border-left: 0 !important;
  padding-bottom: 60px;

}

.content-area {
  padding-top: 20px;
}

a:focus, a:hover {
  color: #68b9bf;
  text-decoration: none
}

.text-lg {
  font-size: 32px;
}

.region-item {
  border-color: $dark;
  .panel-body {
    overflow: hidden;
    position: relative;
    height: 100px;
  }
  .panel-footer {
    background-color: $dark;
    color: #fff;
    cursor: pointer;
  }
  .flag-icon {
    position: absolute;
    height: 24px;
    width: 32px;
    right: 0;
    top: 0;
  }
  .info {
    margin-top: -10px;
  }
}

.region-add-btn {
  max-width: 150px;
  span {
    font-size: 76px;
  }
  .panel-body {
    height: 100px;
  }
}
.cloudware-add-btn {
  max-width: 150px;
  span {
    font-size: 62px;
  }
  .panel-body {
    height: 90px;
  }
}

.region-add-container {
  max-width: 70%;
}

.ember-power-select-option img, .ember-power-select-selected-item img {
  height: 24px;
  width: 36px;
}

.modal-dialog {
  min-width: 1000px;
}

.nav-tabs-custom .btn {
  margin: 5px 15px 0 0;
}

.timeline > li > .timeline-item > .timeline-header {
  border-bottom: 0;
}

pre {
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.info-box {
  cursor: pointer;
  &:hover {
    box-shadow: 0 1px 1px 1px #aaa;
  }
}

.info-box-icon {
  background: #fff;
  img {
    display: block;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
  }
}
.info-box-text {
  font-weight: bold;
}

.info-box-number {
  font-size: 13px;
  font-weight: normal;
}


.cluster-add-panel a {
  display: block;
  font-size: 50px;
  text-align: center;
  color: #3e534b;
  &:hover {
    color: #008baf;
  }
}

.title-img {
  width: 120px;
  float: left;
  img {
    border-radius: 8px;
    width: 120px;
  }
}
.title-has-img {
  margin-left: 135px;
  h2 {
    font-size: 24px;
    margin-top: 0;
  }
  .title-info {
    margin-bottom: 20px;
  }
}
