<div class="container-fluid content">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="title-img"><img src="{{image-prefix model.cloudware.logo}}">
            </div>
            <div class="title-has-img">
                <h2>{{model.cloudware.name}}</h2>
                <div class="title-info">
                  {{model.cloudware.description}}
                </div>
                <button class="btn btn-success"><i class="glyphicon glyphicon-play-circle"></i> Deploy latest version
                </button>
                <button class="btn btn-primary" {{action 'showModal'}}><i class="glyphicon glyphicon-plus"></i> Create
                    new version
                </button>

            </div>
        </div>
    </div>
</div>