<section class="content-header">
    <h1>
        Clusters
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Region</a></li>
        <li class="active">Clusters</li>
    </ol>
</section>
{{outlet}}